<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{normal/N_base :: layout(~{::section})}" >
<head>
    <meta charset="UTF-8">
    <title>Add Contact</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          crossorigin="anonymous">
   </head>
<body>

<section class="content-wrapper">
    <div class="content">
        <div class="card mr-3 ml-3">
            <div class="card-body">
                <h1 class="text-center">Add Contact</h1>
                <div class="container-fluid mt-1">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <form action="#"
                                  th:object="${contact}"
                                  enctype="multipart/form-data"
                                  method="post"
                                  th:action="@{/user/process-contact}"
                                  class="mt-2">
<!--                                First Name Field-->
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text ">
                                            <i class="bi bi-plus-square-fill"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="firstName" name="name" placeholder="Enter name here.." class="form-control"/>
                                </div>
<!--                                Nickname Field-->
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text ">
                                            <i class="bi bi-plus-square"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="nickName" name="nickName" placeholder="Enter Nickname here.." class="form-control"/>
                                </div>
<!--                                Phone Field-->
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text ">
                                            <i class="bi bi-telephone-x"></i>
                                        </div>
                                    </div>
                                    <input type="number" id="number" name="number" placeholder="Enter Phone Number here.." class="form-control"/>
                                </div>
<!--                                Email Field-->
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text ">
                                            <i class="bi bi-envelope"></i>
                                        </div>
                                    </div>
                                    <input type="email" id="email" name="email" placeholder="Enter Email here.." class="form-control"/>
                                </div>

<!--                                Work Field-->
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text ">
                                            <i class="bi bi-align-center"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="work" name="work" placeholder="Enter work here.." class="form-control"/>
                                </div>

<!--                               Contact  Discription-->
                                <div class="form-group mt-3">
                                    <textarea placeholder="Enter description here.." id="description" name="description" class="form-control" rows="3"></textarea>
                                </div>
<!--                                Contact Image field-->
                                <div  class="custom-file">
                                    <input type="file" name="profileImage"/>
                                </div>
                                <div class="container text-center">
                                    <button class="btn btn-outline-primary">Save Contact</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- jQuery & Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
