

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{normal/N_base :: layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>User Dashboard</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        crossorigin="anonymous">
  <link th:href="@{/CSS/style.css}" rel="stylesheet" />

</head>
<body>
<section class="content-wrapper">
  <div class="content">
    <div class="card">
      <div class="card-body my-5">
        <div class="container text-center">
          <img class="my_profile_image"  th:src="@{'/Image/'+userDashboard.png}" alt="profileImage" />
        </div>
        <h1 class="text-center mt-3 text-secondary fst-italic font-weight-light">
          Start Adding your contact on cloud...
        </h1>
        <a th:href="@{/user/add-contact}" class="btn btn-primary mt-4 text-uppercase text-center ">Add New Contact</a>

      </div>

    </div>

  </div>
</section>
<!-- jQuery & Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Custom JS -->
<!--<script th:src="@{/JS/user_dashboard.js}"></script>-->
</body>
</html>
